[Unit]
Description=Nginx web server
Requires=etcd.service
Requires=docker.service
After=etcd.service
After=docker.service

[Service]
KillMode=none
TimeoutStartSec=360
TimeoutStopSec=360
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/docker pull {{ nginx_image_name }}
ExecStartPre=-/usr/bin/docker rm -f %p%i
ExecStart=/usr/bin/docker run --rm --name %p%i -p %i:%i -e HOST_IP=${COREOS_PUBLIC_IPV4} {{ nginx_image_name }} /usr/local/bin/confd-watch %i
ExecStop=/usr/bin/docker stop -t 60 %p%i
ExecStopPost=/usr/bin/docker rm -f %p%i
Restart=on-failure
 
[X-Fleet]
Conflicts=*@%i.service
